.loader {
  text-align: center;
  padding: 1em;
  position: fixed; /* Use fixed to keep it centered on the screen even when scrolling */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Ensure it's on top of other elements */
  pointer-events: none; /* Allows interaction with the background */
}

.loader svg path,
.loader svg rect {
  fill: #000000; /* Ensures your SVG elements are filled with black */
}
